go 1.21

use (
	./common
	./dim_reducer
	./filters
	filters/filter_escalas
	filters/filter_distancias
	./data_processor
	./simple_saver
	./client
	./distance_completer
	./dispatcher_ex4
	./ex4_journey_saver
	./saver_ex_3
	./server
	./avg_calculator_ex4
	./ex4_sink
	./healthchecker
)
